* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

.service-content {
    background-color: #ffffff00;
    
}
.content {
    flex-grow: 1;
    padding: 20px;
}

.card {
    overflow-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    max-height: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.booking-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: black;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.list li:last-child {
    border-bottom: none;
}

.list li span {
    font-weight: normal;
    color: #000000;
}

.appointment-container {
    /* max-height: 500px; */
    padding: 0px 0px 20px 0px; 
    display: flex;  
    flex-direction: column;  
    gap: 15px;
    margin-top: 20px;
}
.card-a {
    display: inline-grid;
    gap: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;   
    background-color: white; 
    border: 1px solid #ccc;  
    border-radius: 8px; 
}
.appointment-card {
    background-color: #f0f4f8; 
    border: 1px solid #ccc;
    border-radius: 8px;  
    padding: 15px;
    display: flex; 
    flex-direction: column; 
    transition: all 0.3s ease;
}

.appointment-card:hover{
    background-color: #cfe0f0ea; 
    border-color: #000000; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transform: translateY(-3px);
}
.appointment-card h4,
.appointment-card p  {
    margin: 5px 0;
    display: flex;
    justify-content: start; 
}

.button-container {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
    font-weight: 600;
}

/* .button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 15px;
    font-weight: 600;
} */

.button.confirm {
    background-color: #007bff; 
    color: white;
}

.button.cancel {
    background-color: #6c757d;
    color: white;
}