.chart-container {
    display: flex;
    justify-content: space-between;  
    gap: 20px; 
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #f0f4ff;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
}
.chart {
    flex: 1;
    min-width: 45%; 
    max-width: 48%; 
    margin-bottom: 20px; 
}
.chart h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

.year-selector {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    display: flex;
    align-items: center;
}

.year-selector label {
    margin-right: 10px;
}

.year-selector select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}