.dashboard {
    padding: 20px;
    background-color: #ffffff;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.stat-item {
    background-color: #f0f4ff;
    border-radius: 8px;
    padding: 20px; 
    text-align: left; 
    flex: 1; 
    margin: 0 10px;
    position: relative;
}

.stat-item .icon {
    position: absolute; 
    top: 20px;
    left: 20px; 
    width: 40px; 
    height: 40px; 
    background-color: #ffffff;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.stat-item span {
    display: block; 
    font-size: 18px;
    color: #2c3e50;
    margin-left: 70px;
    text-align: center;
}


.stat-item span:last-child {
    font-size: 24px; 
    font-weight: bold;
    margin-left: 70px;
    text-align: center;
}
.booking-chart, .services {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item {
    margin: 10px 0;
}