
* {
    margin: 0;
    padding: 0;
  }
.header-dashboard {
    height: 67px;
    width: auto;
    font-family: Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0 20px;
  }
.header-link{
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 40px;
}
.search{
    flex-grow: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.search-input{
    width: 420px;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
}
.search-input::placeholder{
    font-family: Arial, sans-serif;
}
.search-button{
    width: 90px;
    height: 35px;
    border-radius: 15px;
    color: white;
    background-color: #1A80E5;
    font-weight: bold;
    text-align: center;
    border: none;
    margin-left: 10px;
    cursor: pointer;

}


.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
