.sidebar {
  width: 280px;
  height: 100vh;
  min-height: 100vh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(209, 220, 231);
  position: fixed;
  top: 0;
  overflow-y: scroll; /* Cho phép cuộn nhưng không hiển thị thanh cuộn */
}

/* Ẩn thanh cuộn */
.sidebar::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn ngang */
  height: 0; /* Ẩn thanh cuộn dọc */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Ẩn thumb (vùng kéo của thanh cuộn) */
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent; /* Ẩn track (vùng chứa thanh cuộn) */
}

.logo-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px 29px; /* Điều chỉnh lề dưới */
}

.logo-sidebar img {
  width: 250px;
  height: 150px;
  margin-right: 20px;
}

.logo-sidebar h1 {
  font-size: 50px;
  margin: 0;
  font-family: 'Kaushan Script';
  color: #000;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin-top: 30px;
}

nav ul li {
  margin-bottom: 15px;
}

.nav-links-sidebar li {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
}

.nav-links-sidebar li:hover {
  background: linear-gradient(90deg, #ffffff 0%, #afafaf 50%, #585858 100%);
  border-radius: 8px;
  transition: background-color 0.2s ease;
  height: 50px;
  width: 200px;
}

.nav-links-sidebar li:hover a {
  color: #ffffff;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

.nav-links-sidebar .active {
  background: linear-gradient(90deg, #ffffff 0%, #afafaf 50%, #585858 100%);
  border-radius: 8px;
  transition: background-color 0.2s ease;
  height: 50px;
  width: 200px;
}
