.service-menu {
    padding: 20px;
  }
  
  .service-menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .edit-button, .add-button {
    width: 84px;
    height: 40px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
  }
  
  .service-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    overflow-x: auto;
  }

  .service-item {
    display: flex;
    width: auto;
    height: 160px;
    border: 1px solid black;
    background-color: #F7FAFC;
    border-radius: 8px;
    padding: 15px;
  }
  .service-card1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
  }
  .service-card1 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    transition: transform 0.2s;
    width: 200px;
  }
  .service-card1{
    border-color: #000000;
  }
  .service-small {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .service-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  