.sidebar {
    width: 281px;
    height: 100vh;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30 29;
  }
  
  .logo img {
    width: 300px;
    height: 189px;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 70px;
    margin: 0;
    font-family: 'Kaushan Script';
  }
  .icon{
    margin-right: 20px;
  }
  nav ul {
    list-style-type: none;
    margin-top: 30px;
  }
  nav ul li {
    margin-bottom: 15px;
  }
  .nav-links li {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 20px;
  }
  .nav-links li:hover {
    background: linear-gradient(90deg, #ffffff 0%, #afafaf 50%, #585858 100%);
    border-radius: 8px;
    transition: background-color 0.2s ease;
    height: 50px;
    width: 200px;
  }
  .nav-links li:hover a {
    color: #ffffff;
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
  }

.nav-links .active{
  background: linear-gradient(90deg, #ffffff 0%, #afafaf 50%, #585858 100%);
    border-radius: 8px;
    transition: background-color 0.2s ease;
    height: 50px;
    width: 200px;
}