.sheet_information {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.sheet_info__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.sheet_info__combo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sheet_info__content-header {
  font-size: 24px;
  color: #61133D;
  font-weight: bold;
}

.sheet_info__content-second {
  font-size: 20px;
  color: #676767;
}

.sheet_info__total-price {
  font-size: 28px;
  color: #61133D;
  font-weight: bold;
  border-top: 2px solid #3c3c3c;
  width: 100%;
  text-align: left;
  padding-top: 14px;
}