.meet-our-team {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e8d9d9;
  padding: 50px;
  border-radius: 10px;
  margin-right: 0;
  text-align: left;
  height:500px;
}


.team-info {
  width: 40%;
  margin-left: 50px;
}


.team-title {
  width: 350px;
  font-family: 'Kaushan Script', cursive;
  font-size: 56px;
  color: #57223f;
  margin-bottom: 30px;
}

.team-description {
  width: 350px;
  font-family: 'Urbanist', sans-serif;
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 40px;
}


.appointment-btn {
  padding: 10px 30px !important;
  font-size: 20px !important;
  font-family: 'Urbanist', sans-serif;
  color: #fff;
  background-color: #7c3a4f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.appointment-btn:hover {
  background-color: #57223f;
}


.team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  padding: 50px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  margin-right: -120px;
  margin-top: -50px;
}


.team-member {
  text-align: center;
  position: relative;
}


.team-images {
  display: flex;
  gap: 150px;
  position: relative;
  margin-top: -50px;
}


.member-image {
  width: 350px;
  height: 400px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}


.arrow-container {
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 200px;
}

.arrow {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.arrow:hover {
  color: #3498db;
}

.left-arrow {
  margin-bottom: 10px;
  width: 70px;
}

.right-arrow {
  margin-top: 10px;
  width: 70px;
}