.services-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-bottom: 100px;

}

.services-title {
  font-family: 'Urbanist', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #5d1a40;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.service-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 270px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  z-index: 1;
}

.service-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.service-title {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #5d1a40;
  margin-bottom: 15px;
}

.service-description {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  color: #9f9c9c;
  line-height: 1.6;
}
p.service-type {
  color: #383132;
}
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
}
