body {
    width: 1440px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.services-image {
    width: 100%;
    border-radius: 8px;
    height: auto;
    max-width: 1440px;
    text-align: center;
}

.services-title-p {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 70px;
    font-weight: bold;
}