
.form-heading {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.form-description {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-link {
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 600;
}
