.form_container {
    max-width: 680px;
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

a {
    color: #7A7A7A;
    font-size: 20px;
    font-weight: 600;
}

.error-message {
    color: #ef4444;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
}
