
.service-card-g {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 30px;
  display: flex
;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  position: relative;
  transition: transform 0.3s ease;

}

.service-card-g:hover {
  transform: translateY(-5px); 
}


.service-content-g {
  position: relative;
}

.service-card-g h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  width: 190px;
}

.price-tag-g {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  flex-direction: column; /* Sắp xếp theo cột (dọc) */
}

.current-price-g {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  font-weight: bold; 
}

.old-price-g {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6); 
  text-decoration: line-through;
  margin-top: 4px; 
}

/* Image Styling */
.service-image-g {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.service-image-g img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.book-button-g {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 20px;
}

.book-button-g:hover {
  background: rgba(255, 255, 255, 0.1); 
}

/* Responsive Design */
@media (max-width: 992px) {
  .services-grid-g {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 576px) {
  .services-grid-g {
    grid-template-columns: 1fr;
  }

  .hero-section-g {
    height: 200px;
  }

  .hero-section-g h1 {
    font-size: 36px; 
  }
}
