.body-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #F3F3EF;
}

.body-the-service-section {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.body-service-image {
    width: 100%;
    max-width: 3000px;
    text-align: center;
    margin-bottom: 100px;
    height: 300px;
}

.body-service-title {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 50px;
    font-weight: bold;
}

.body-programs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    padding: 40px;
    gap: 100px;
}

.body-programs-left {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 300px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: auto;
    margin: 0 auto;
}

.body-image-large {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.body-image-small {
    position: absolute;
    object-fit: cover;
    
}

.body-image-small:nth-child(3) {
    width: 200px;
    height: 200px;
    bottom: -220px;
    left: 130px;
}

.body-image-small:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 85%;
    right: 0;
}

.body-programs-right {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.body-program {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.program-title {
    font-size: 20px;
    font-weight: bold;
    color: #61133D;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}
.program-title:hover {
    text-decoration: underline;  
}

.program-description {
    font-size: 15px;
    color: #7A7A7A;
    margin-top: 50px;
    line-height: 1.6;
    text-align: left;
}

.program-price {
    font-weight: 700;
    font-size: 18px;
    color: #383132;
    float: right;
}