.facial-programs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #F3F3EF;
}

.facial-the-service-section {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.facial-service-image {
    width: 100%;
    border-radius: 8px;
<<<<<<< HEAD
    height: auto;
    max-width: 1400px;
    text-align: center;
=======
    max-width: 3000px;
    text-align: center;
    margin-bottom: 100px;
    height: 300px;
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
}

.facial-service-title {
    position: absolute;
<<<<<<< HEAD
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 70px;
=======
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 50px;
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
    font-weight: bold;
}

.facial-programs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    padding: 40px;
    gap: 100px;
}

.facial-programs-left {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 300px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.facial-image-large {
<<<<<<< HEAD
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
=======
    width: 400px;
    height: 400px;
    object-fit: cover;
    
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
}

.facial-image-small {
    position: absolute;
    object-fit: cover;
<<<<<<< HEAD
    border-radius: 8px;
}

.facial-image-small:nth-child(3) {
    width: 236px;
    height: 209px;
    bottom: -220px;
    left: 20px;
}

.facial-image-small:nth-child(2) {
    width: 236px;
    height: 209px;
    top: 85%;
    right: -90px;
=======
   
}

.facial-image-small:nth-child(3) {
    width: 200px;
    height: 200px;
    bottom: -220px;
    left: 130px;
}

.facial-image-small:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 85%;
    right: 0;
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
}

.facial-programs-right {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.facial-program {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.program-title {
    font-size: 20px;
    font-weight: bold;
<<<<<<< HEAD
    color: #9F2C2E;
    margin-bottom: 5px;
    float: left;
}

=======
    color: #61133D;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}
.program-title:hover {
    text-decoration: underline;  
}
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
.program-description {
    font-size: 15px;
    color: #5A5A5A;
    margin-top: 50px;
    line-height: 1.6;
}

.program-price {
    font-size: 18px;
    color: #4A2C2A;
    float: right;
}