.facial-programs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #F3F3EF;
}

.facial-the-service-section {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.facial-service-image {
    text-align: center;
    margin-bottom: 50px;
    height: 350px;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.facial-service-title {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 45px;
    font-weight: bold;
}

.facial-programs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    padding: 40px;
    gap: 100px;
}

.facial-programs-left {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 300px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.facial-image-large {
    width: 400px;
    height: 400px;
    object-fit: cover;
    
}

.facial-image-small {
    position: absolute;
    object-fit: cover;
   
}

.facial-image-small:nth-child(3) {
    width: 200px;
    height: 200px;
    bottom: -220px;
    left: 130px;
}

.facial-image-small:nth-child(2) {
    width: 200px;
    height: 200px;
    top: 85%;
    right: 0;
}

.facial-programs-right {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.facial-program {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.program-title {
    font-size: 20px;
    font-weight: bold;
    color: #61133D;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}
.program-title:hover {
    text-decoration: underline;  
}
.program-description {
    font-size: 15px;
    color: #5A5A5A;
    margin-top: 50px;
    line-height: 1.6;
}

.program-price {
    font-size: 18px;
    color: #4A2C2A;
    float: right;
}