.spa-programs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #F3F3EF;
}

.spa-the-service-section {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.spa-service-image {
    width: 100%;
    border-radius: 8px;
    height: auto;
    max-width: 1440px;
    text-align: center;
}

.spa-service-title {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 1);
    font-size: 70px;
    font-weight: bold;
}

.spa-programs-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1600px;
    width: 100%;
    padding: 40px;
    gap: 100px;
}

.spa-programs-left {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 300px;
}
.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height:auto;
    margin: 0 auto;
}

.spa-image-large {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.spa-image-small {
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
}

.spa-image-small:nth-child(3) {
    width: 236px;
    height: 209px;
    bottom: -220px;
    left: 20px;
}

.spa-image-small:nth-child(2) {
    width: 236px;
    height: 209px;
    top: 85%;
    right: -90px;
}

.spa-programs-right {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.spa-program {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.program-title {
    font-size: 20px;
    font-weight: bold;
    color: #61133D;
    margin-bottom: 5px;
    float: left;
}

.program-description {
    font-size: 15px;
    color: #7A7A7A;
    margin-top: 50px;
    line-height: 1.6;
}

.program-price {
    font-weight: 700;
    font-size: 18px;
    color: #383132;
    float: right;
}