body {
  width: 100%;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul li a {
  text-decoration: none;
  color: #333;
}

.hero {
  background: #f4f4f4;
  text-align: center;
  padding: 50px 0;
}

.appointment-form, .services, .team {
  margin: 50px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}


.container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.form-heading {
  font-size: 32px;
}

.form-description {
  color: #7A7A7A;
  font-size: 18px;
}

.form-link {
  font-size: 20px;
  font-weight: 700;

  a {
    color: #61133D;
    text-decoration: none;
  }
}

.form_container {
  max-width: 680px;
  margin: 40px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

