<<<<<<< HEAD
.form_container {
  max-width: 680px;
  margin: 80px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

=======
>>>>>>> 5e54b7db1a2b413a75d4ed18f1463daecf777e0b
.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  
  .error-message {
    color: #ef4444;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
  }